# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.
**Objectives**
- popular languages that Data Scientists use are
- commonly used libraries used by Data Scientists include
- Data Science Tools
- examples of evaluating arithmetic expressions in Python
- arithmetic expression to multiply then add integers
- convert 200 minutes to hours by diving by 60

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. Keras

|Data Science Tools|
|------------------|
|Apache Spark|
|TensorFlow|
|Scikit-Learn|

### Below are a few examples of evaluating arithmetic expressions in Python
5+2
(6+1)*3
9/4

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60.
a=200
b=60
hours=a//b
print (hours,"hours")

3 hours

## Author
Biju Patson T